## Variable Generation

Generation of a few instances of the variables required to construct family layer in social network.

Parent/Child: famID, barn(age groups above 16) if they have a child, age

- is child variable always filled out (0 vs NaN)

- how not to match grandparent by accident (?)

- first case: same famiD, 16/17 year old and person or two persons indicated to have a child in that age group, person that age--> child, other 1 or 2 parent (depending on the kÃ¶n mother or father), what if more 3 people --> sibling or grandparent(?) 

- second case: barn 18/19 after 2004 -> same as first case
- third case 18plus (until 2004) or 20plus (after 2004), Age difference=16 (first try), potential (length of distance between living place and working place is short --> children)


Future: this connection stays the same over the years 


Partner: if both have minimum one child of same age and same famID --> partners, (famID if people are married), age difference: +-10 

this can change over time, should there be ex partners? 

Siblings: if both are children to same parents --> siblings


parent vs co parent(?)

Grandparent(if we want to): child of child and parent of parent



check if someone has more then 2 parents by accident?

VARIABLES: \
Personnumer: \
Number of Children: barn0_3, barn4_6 barn7_10, barn11_15, barn16_17, barn18plus ,barn18_19 ,barn20plus \
FamID: Personnummer of oldest person in family 
Age:

In [12]:
fam_variables = ['PersonNr','FamId','Alder','Barn0_3','Barn4_6','Barn7_10', 'Barn11_15', 'Barn16_17', 'Barn18plus', 'Barn18_19','Barn20plus']

In [13]:
from datetime import datetime
import dateutil.relativedelta

#calcuate age using birthday from personnummer
def alder(personnummer):
    today = datetime.now()
    year, month, day = int(personnummer[:4]), int(personnummer[4:6]), int(personnummer[6:8])
    birthday = datetime(year, month, day)
    age = dateutil.relativedelta.relativedelta(today, birthday)
    years = age.years
    return years

In [14]:
import pandas as pd
import numpy as np

In [15]:
data = pd.DataFrame(0, index=np.arange(10),columns=fam_variables)

In [16]:
# populate dataframe with info of 10 people
data.loc[0] = ['19970508-9423','19950701-3253',alder('19970508-9423'),0,0,1,1,0,0,0,0] #Person 1 - parent in household 1 
data.loc[1] = ['19620328-2423','19620328-2423',alder('19620328-2423'),0,0,0,0,0,0,0,0] #Person 2 - adult child in household 2 (famId assigned to them)
data.loc[2] = ['19891209-5609','19891209-5609',alder('19891209-5609'),0,0,1,0,1,0,0,0] #Person 3 - parent in household 3 (famId assigned to them)
data.loc[3] = ['20130112-3492','19891209-5609',alder('20130112-3492'),0,0,0,0,0,0,0,0] #Person 4 - child in household 3
data.loc[4] = ['20110227-4920','19950701-3253',alder('20110227-4920'),0,0,0,0,0,0,0,0] #Person 5 - child in household 1
data.loc[5] = ['20150406-4392','19950701-3253',alder('20150406-4392'),0,0,0,0,0,0,0,0] #Person 6 - child in household 1
data.loc[6] = ['19750108-5822','19750108-5822',alder('19750108-5822'),0,0,0,0,0,0,0,0] #Person 7 - household 4
data.loc[7] = ['19431017-7456','19620328-2423',alder('19431017-7456'),0,0,0,0,0,0,0,1] #Person 8 - parent in household 2
data.loc[8] = ['20060622-2464','19891209-5609',alder('20060622-2464'),0,0,0,0,0,0,0,0] #Person 9 - child in household 3
data.loc[9] = ['19950701-3253','19950701-3253',alder('19950701-3253'),0,0,1,1,0,0,0,0] #Person 10 - parent in household 1 (famId assigned to them)

In [17]:
data

,PersonNr,FamId,Alder,Barn0_3,Barn4_6,Barn7_10,Barn11_15,Barn16_17,Barn18plus,Barn18_19,Barn20plus
0,19970508-9423,19950701-3253,26,0,0,1,1,0,0,0,0
1,19620328-2423,19620328-2423,61,0,0,0,0,0,0,0,0
2,19891209-5609,19891209-5609,33,0,0,1,0,1,0,0,0
3,20130112-3492,19891209-5609,10,0,0,0,0,0,0,0,0
4,20110227-4920,19950701-3253,12,0,0,0,0,0,0,0,0
5,20150406-4392,19950701-3253,8,0,0,0,0,0,0,0,0
6,19750108-5822,19750108-5822,48,0,0,0,0,0,0,0,0
7,19431017-7456,19620328-2423,80,0,0,0,0,0,0,0,1
8,20060622-2464,19891209-5609,17,0,0,0,0,0,0,0,0
9,19950701-3253,19950701-3253,28,0,0,1,1,0,0,0,0

In [18]:
data2 = pd.DataFrame(0, index=np.arange(20),columns=fam_variables)

In [21]:
# populate dataframe with info of 10 people

data2.loc[0] = ['19980220-9101','19980220-9101',alder('19980220-9101'),1,0,0,0,0,0,0,0] #Person 1 - house 1 Wife
data2.loc[1] = ['20000103-1411','19980220-9101',alder('20000103-1411'),1,0,0,0,0,0,0,0] #Person 2 - house 1 Husband

data2.loc[2] = ['20000101-2103','20000101-2103',alder('20000101-2103'),0,0,0,0,0,0,0,0] #Person 3 - house 2 Woman

data2.loc[3] = ['20000101-2193','20000101-2193',alder('20000101-2193'),0,0,0,0,0,0,0,0] #Person 4 - house 3 Man

data2.loc[4] = ['19730420-2103','19730420-2103',alder('19730420-2103'),0,0,0,0,0,0,0,1] #Person 5 - house 4 Mom
data2.loc[5] = ['19740310-2103','19730420-2103',alder('19740310-2103'),0,0,0,0,0,0,0,1] #Person 6 - house 4 Dad
data2.loc[6] = ['20030614-0101','19730420-2103',alder('20030614-0101'),0,0,0,0,0,0,0,0] #Person 7 - house 4 Daughter 2
data2.loc[7] = ['20010614-0101','19730420-2103',alder('20010614-0101'),0,0,0,0,0,0,0,0] #Person 8 - house 4 Daughter 1

data2.loc[8] = ['19821012-1234','19821012-1234',alder('19821012-1234'),1,0,0,0,0,0,0,0] #Person 9   - house 5 Husband 1
data2.loc[9] = ['19851112-1234','19821012-1234',alder('19851112-1234'),1,0,0,0,0,0,0,0] #Person 10  - house 5 Husband 2

data2.loc[10] = ['19951021-1284','19951021-1284',alder('19951021-1284'),0,0,0,0,0,0,0,0] #Person 11  - house 6 Woman

data2.loc[11] = ['19960229-1000','19960229-1000',alder('19960229-1000'),0,0,0,0,0,0,0,0] #Person 12  - house 7 Woman
data2.loc[12] = ['19990430-0246','19960229-1000',alder('19990430-0246'),1,0,0,0,0,0,0,0] #Person 13  - house 7 Wife 1
data2.loc[13] = ['19990915-2468','19960229-1000',alder('19990915-2468'),1,0,0,0,0,0,0,0] #Person 14  - house 7 Wife 2

data2.loc[14] = ['19610915-2418','19610915-2418',alder('19610915-2418'),0,0,0,0,0,2,0,0] #Person 15  - house 8 Husband
data2.loc[15] = ['19690131-1188','19610915-2418',alder('19690131-1188'),0,0,0,0,0,2,0,0] #Person 16  - house 8 Wife
data2.loc[16] = ['20030303-0330','19610915-2418',alder('20030303-0330'),0,0,0,0,0,0,0,0] #Person 17  - house 8 Son
data2.loc[17] = ['20010303-0330','19610915-2418',alder('20010303-0330'),0,0,0,0,0,0,0,0] #Person 17  - house 8 Son

#data2.loc[17] = ['19930501-9311','19930501-9311',alder('19930501-9311'),1,1,1,0,0,0,0,0] #Person 18  - house 8 Man

data2.loc[18] = ['19510501-1119','19510501-1119',alder('19510501-1119'),0,1,0,0,0,0,0,0] #Person 19  - house 8 Husband
data2.loc[19] = ['19881020-2222','19510501-1119',alder('19881020-2222'),0,1,0,0,0,0,0,0] #Person 20  - house 8 Wife

data = pd.concat([data, data2])

data

,PersonNr,FamId,Alder,Barn0_3,Barn4_6,Barn7_10,Barn11_15,Barn16_17,Barn18plus,Barn18_19,Barn20plus
0,19970508-9423,19950701-3253,26,0,0,1,1,0,0,0,0
1,19620328-2423,19620328-2423,61,0,0,0,0,0,0,0,0
2,19891209-5609,19891209-5609,33,0,0,1,0,1,0,0,0
3,20130112-3492,19891209-5609,10,0,0,0,0,0,0,0,0
4,20110227-4920,19950701-3253,12,0,0,0,0,0,0,0,0
5,20150406-4392,19950701-3253,8,0,0,0,0,0,0,0,0
6,19750108-5822,19750108-5822,48,0,0,0,0,0,0,0,0
7,19431017-7456,19620328-2423,80,0,0,0,0,0,0,0,1
8,20060622-2464,19891209-5609,17,0,0,0,0,0,0,0,0
9,19950701-3253,19950701-3253,28,0,0,1,1,0,0,0,0
0,19980220-9101,19980220-9101,25,1,0,0,0,0,0,0,0
1,20000103-1411,19980220-9101,23,1,0,0,0,0,0,0,0
2,20000101-2103,20000101-2103,23,0,0,0,0,0,0,0,0
3,20000101-2193,20000101-2193,23,0,0,0,0,0,0,0,0
4,19730420-2103,19730420-2103,50,0,0,0,0,0,0,0,1
5,19740310-2103,19730420-2103,49,0,0,0,0,0,0,0,1
6,20030614-0101,19730420-2103,20,0,0,0,0,0,0,0,0
7,20010614-0101,19730420-2103,22,0,0,0,0,0,0,0,0
8,19821012-1234,19821012-1234,41,1,0,0,0,0,0,0,0
9,19851112-1234,19821012-1234,38,1,0,0,0,0,0,0,0
10,19951021-1284,19951021-1284,28,0,0,0,0,0,0,0,0
11,19960229-1000,19960229-1000,27,0,0,0,0,0,0,0,0
12,19990430-0246,19960229-1000,24,1,0,0,0,0,0,0,0
13,19990915-2468,19960229-1000,24,1,0,0,0,0,0,0,0
14,19610915-2418,19610915-2418,62,0,0,0,0,0,2,0,0
15,19690131-1188,19610915-2418,54,0,0,0,0,0,2,0,0
16,20030303-0330,19610915-2418,20,0,0,0,0,0,0,0,0
17,20010303-0330,19610915-2418,22,0,0,0,0,0,0,0,0
18,19510501-1119,19510501-1119,72,0,1,0,0,0,0,0,0
19,19881020-2222,19510501-1119,35,0,1,0,0,0,0,0,0
0,19980220-9101,19980220-9101,25,1,0,0,0,0,0,0,0
1,20000103-1411,19980220-9101,23,1,0,0,0,0,0,0,0
2,20000101-2103,20000101-2103,23,0,0,0,0,0,0,0,0
3,20000101-2193,20000101-2193,23,0,0,0,0,0,0,0,0
4,19730420-2103,19730420-2103,50,0,0,0,0,0,0,0,1
5,19740310-2103,19730420-2103,49,0,0,0,0,0,0,0,1
6,20030614-0101,19730420-2103,20,0,0,0,0,0,0,0,0
7,20010614-0101,19730420-2103,22,0,0,0,0,0,0,0,0
8,19821012-1234,19821012-1234,41,1,0,0,0,0,0,0,0
9,19851112-1234,19821012-1234,38,1,0,0,0,0,0,0,0
10,19951021-1284,19951021-1284,28,0,0,0,0,0,0,0,0
11,19960229-1000,19960229-1000,27,0,0,0,0,0,0,0,0
12,19990430-0246,19960229-1000,24,1,0,0,0,0,0,0,0
13,19990915-2468,19960229-1000,24,1,0,0,0,0,0,0,0
14,19610915-2418,19610915-2418,62,0,0,0,0,0,2,0,0
15,19690131-1188,19610915-2418,54,0,0,0,0,0,2,0,0
16,20030303-0330,19610915-2418,20,0,0,0,0,0,0,0,0
17,20010303-0330,19610915-2418,22,0,0,0,0,0,0,0,0
18,19510501-1119,19510501-1119,72,0,1,0,0,0,0,0,0
19,19881020-2222,19510501-1119,35,0,1,0,0,0,0,0,0

In [20]:
print(data.shape)

data.to_csv('30_people_data.csv')

(30, 11)